html, body {
  height: 100%;
  width: 100%;
  background-color: coral
}
button{
  background-color: green;
  color: white;
  padding: 32 px;
  font-size: 16 px;
  
}
.dropbtn {
  background-color: #2804a9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #df3d20;}
p{
  display: inline-block;
  margin-left: 10%;

}
.EV,.IVs{
  margin-left:0 px;
}
.HealthBar{
    background-color: green;
    border: 2px outset red;  
    text-align: center;
    visibility: false;
  }
.AttackBar{
    background-color: orange;
    border: 2px outset red;  
    text-align: center;
    visibility: false;
  }
.DefenseBar{
    background-color: lightblue;
    border: 2px outset red;  
    text-align: center;
    visibility: false;
  }
.SpecialAttackBar{
    background-color: yellow;
    border: 2px outset red;  
    text-align: center;
    visibility: false;
  }
.SDFBar{
    background-color: pink;
    border: 2px outset red;  
    text-align: center;
    visibility: false;
  }
.SPDBar{
    background-color: teal;
    border: 2px outset red;  
    text-align: center;
    visibility: false;
  }
